wheel
#python general
ipykernel
tqdm
frozendict
pillow>=6.2.0###==5.3.0
imutils
#numerical
numpy==1.19.0
pandas
torch
captum==0.2.0
torchvision
av
pytorch-ignite==0.3.0
facenet-pytorch
#scipy==1.1.0
scipy
scikit-build
sklearn
#cv
sk-video
opencv-python
face-alignment
imutils
#visualization
tensorboard
seaborn
